<div class="widget-number">
    <h1 class="title">@Title</h1>
    
    <h2 class="value" data-bind="current | shortenedNumber | prepend prefix | append suffix">@Current</h2>
    
    <p class="change-rate">
      <i data-bind-class="arrow"></i><span>@Difference</span>
    </p>
    
    <p class="more-info">@MoreInfo</p>
    
    <p class="updated-at">@UpdatedAtMessage</p>
</div>

@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Current { get; set; }
    
    [Parameter]
    public string? Difference { get; set; }

    [Parameter]
    public string? MoreInfo { get; set; }

    [Parameter]
    public string? UpdatedAtMessage { get; set; }
}