@inherits BaseWidget;

<div class="widget-number" style="background-color:@BackgroundColor">
    <h1 class="title">@Title</h1>
    
    <h2 class="value" data-bind="current | shortenedNumber | prepend prefix | append suffix">@Current</h2>
    
    <p class="change-rate">
      <i data-bind-class="arrow"></i><span>@Difference</span>
    </p>
    
    <p class="more-info">@MoreInfo</p>
    
    <p class="updated-at">@UpdatedAtMessage</p>
</div>