@inherits BaseWidget;

<div class="widget-list" style="background-color:@BackgroundColor">
    <h1 class="title">@Title</h1>
    
    @if (Ordered) {
    <ol>
    @foreach (var item in Items)
    {
      <li>
        <span class="label">@item.label</span>
        <span class="value">@item.value</span>
      </li>
    }
    </ol>
    } else {
    <ul class="list-nostyle">
    @foreach (var item in Items)
    {
      <li>
        <span class="label">@item.label</span>
        <span class="value">@item.value</span>
      </li>
    }
    </ul>
    }
    
    <p class="more-info">@MoreInfo</p>
    <p class="updated-at">@UpdatedAtMessage</p>
</div>