@inherits BaseWidget;

<div class="widget-meter" style="background-color:@BackgroundColor">
    <h1 class="title">@Title</h1>

    <svg class="meter"
         width="@Width"
         height="@Height"
         viewBox="0 0 @Width @Height"
         aria-label="@Title">
        <path class="meter-background"
              d="@GetBackgroundArcPath()"
              stroke-width="@StrokeWidth" />
        @if (Value > Min)
        {
            <path class="meter-value"
                  d="@GetValueArcPath()"
                  stroke-width="@StrokeWidth" />
        }
        @if (DisplayInput)
        {
            @GetCenterTextMarkup()
        }
    </svg>

    <p class="more-info">@MoreInfo</p>

    <p class="updated-at">@UpdatedAtMessage</p>
</div>